
			<!--
			=====================================================
				Footer
			=====================================================
			-->
			<div class="footer-style-twelve theme-basic-footer position-relative zn2">
				<div class="container">
					<div class="line-bg-wrapper position-relative pt-130 pb-60 lg-pt-100 lg-pb-40">
						<div class="row justify-content-between">
							<div class="col-lg-4 footer-intro mb-40">
								<div class="logo"><a href="index.html"><img src="images/logo/logo_07.png" alt="" width="95"></a></div>
								<p class="fs-18 text-white mt-15 mb-30">Shaping the Future of Real Estate in Nigeria</p>
								<ul class="d-flex social-icon style-none">
									<li><a href="https://www.facebook.com/best.link.3388"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="https://www.instagram.com/prexlynproperties/"><i class="fab fa-instagram"></i></a></li>
									<li><a href="https://www.linkedin.com/in/prexlyn-concept-property-04a24416a/"><i class="fab fa-linkedin-in"></i></a></li>
								</ul>
							</div>
							<div class="col-lg-2 col-sm-4 mb-30">
								<h5 class="footer-title text-white fw-500">About</h5>
								<ul class="footer-nav-link style-none">
									<li><a href="/">Home</a></li>
									<li><a href="/about">About us</a></li>
									<li><a href="/contact">Contact</a></li>
									<li><a href="/testimonials">Testimonials</a></li>
									<li><a href="/faqs">FAQs</a></li>
								</ul>
							</div>
							<div class="col-lg-2 col-sm-4 mb-30">
								<h5 class="footer-title text-white fw-500">Services</h5>
								<ul class="footer-nav-link style-none">
									<li><a href="/lands">Lands</a></li>
									<li><a href="/houses/apartments">Apartments</a></li>
									<li><a href="/houses/condos">Condos</a></li>
									<li><a href="/houses/duplexes">Duplexes</a></li>
									<li><a href="/houses/cottages">Cottages</a></li>
								</ul>
							</div>
							<div class="col-lg-3 col-sm-4 mb-30">
								<h5 class="footer-title text-white fw-500">Address</h5>
								<p>Road 4 VGC Shopping Complex <br> Ikota, Lagos</p>
							</div>
						</div>

						<p style="margin-top: 1rem;">All rights reserved. © <%= new Date().getFullYear() %> Prexlyn Properties</p>
					</div> <!-- /.line-bg-wrapper -->
				</div> <!-- /.container -->
				<img src="images/lazy.svg" data-src="images/shape/shape_170.svg" alt="" class="lazy-img shapes shape-one">
			</div> <!-- /.footer-style-twelve -->


			<button class="scroll-top">
				<i class="bi bi-arrow-up-short"></i>
			</button>




		<!-- Optional JavaScript _____________________________  -->

    	<!-- jQuery first, then Bootstrap JS -->
    	<!-- jQuery -->
		<script src="vendor/jquery.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- WOW js -->
		<script src="vendor/wow/wow.min.js"></script>
		<!-- Slick Slider -->
		<script src="vendor/slick/slick.min.js"></script>
		<!-- Fancybox -->
		<script src="vendor/fancybox/dist/jquery.fancybox.min.js"></script>
		<!-- Lazy -->
    	<script src="vendor/jquery.lazy.min.js"></script>
    	<!-- js Counter -->
		<script src="vendor/jquery.counterup.min.js"></script>
		<script src="vendor/jquery.waypoints.min.js"></script>
		<!-- Nice Select -->
		<script src="vendor/nice-select/jquery.nice-select.min.js"></script>
		<!-- validator js -->
    	<script src="vendor/validator.js"></script>
    	<!-- isotop -->
		<script  src="vendor/isotope.pkgd.min.js"></script>

		<!-- Theme js -->
		<script src="js/theme.js"></script>
		</div> <!-- /.main-page-wrapper -->
	</body>
</html>