<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="Prexlyn Properties" />
    <meta name="description" content="Prexlyn Properties" />
    <meta property="og:site_name" content="Jano" />
    <meta property="og:url" content="https://heloshape.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Prexlyn Properties" />
    <meta name="og:image" content="images/assets/ogg.png" />
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- For Resposive Device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- For Window Tab Color -->
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#1d2b40" />
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#1d2b40" />
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#1d2b40" />
    <title>Prexlyn Properties</title>
    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      sizes="56x56"
      href="images/fav-icon/icon.png"
    />
    <!-- Main style sheet -->
    <link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
    <!-- responsive style sheet -->
    <link
      rel="stylesheet"
      type="text/css"
      href="css/responsive.css"
      media="all"
    />

    <!-- Fix Internet Explorer ______________________________________-->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script src="vendor/html5shiv.js"></script>
      <script src="vendor/respond.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="main-page-wrapper">
      <!-- ===================================================
				Loading Transition
			==================================================== -->
      <div id="preloader">
        <div id="ctn-preloader" class="ctn-preloader">
          <div class="animation-preloader">
            <div class="icon">
              <img
                src="images/logo/logo_07.png"
                alt=""
                class="m-auto d-block"
                width="70"
              />
            </div>
            <!-- <div class="txt-loading mt-3">
              <span data-text-preloader="P" class="letters-loading"> P </span>
              <span data-text-preloader="R" class="letters-loading"> R </span>
              <span data-text-preloader="E" class="letters-loading"> E </span>
              <span data-text-preloader="X" class="letters-loading"> X </span>
              <span data-text-preloader="L" class="letters-loading"> L </span>
              <span data-text-preloader="Y" class="letters-loading"> Y </span>
              <span data-text-preloader="N" class="letters-loading"> N </span>
            </div> -->
          </div>
        </div>
      </div>

      <!--
			=============================================
				Theme Main Menu
			==============================================
			-->
      <header class="theme-main-menu sticky-menu theme-menu-ten">
        <div class="inner-content position-relative">
          <div class="d-flex align-items-center justify-content-between">
            <div class="logo order-lg-0">
              <a href="/" class="d-block"
                ><img src="images/logo/logo_07.png" alt="" width="70"
              /></a>
            </div>

            <div class="right-widget d-flex align-items-center order-lg-3">
              <form
                action="#"
                class="header-search-two position-relative me-4 me-xxl-5 d-none d-xl-block"
              >
                <input type="text" placeholder="Search Here..." />
                <img
                  src="images/icon/icon_122.svg"
                  alt=""
                  class="icon position-absolute"
                />
              </form>
              <!-- <a
                href="signin.html"
                class="login-btn-four rounded-circle tran3s me-3"
              >
                <i class="bi bi-person"></i>
              </a> -->
            </div>
            <!-- /.right-widget -->

            <nav class="navbar navbar-expand-lg order-lg-2">
              <button
                class="navbar-toggler d-block d-lg-none"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="d-block d-lg-none">
                    <div class="logo">
                      <a href="index.html" class="d-block"
                        ><img src="images/logo/logo_07.png" alt="" width="93"
                      /></a>
                    </div>
                  </li>
                  <li class="nav-item active">
                    <a
                      class="nav-link"
                      href="/"
                      role="button"
                      data-bs-auto-close="outside"
                      aria-expanded="false"
                      >Home</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      href="/lands"
                      role="button"
                      data-bs-auto-close="outside"
                      aria-expanded="false"
                      >Lands</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      href="/houses/apartments"
                      role="button"
                      data-bs-auto-close="outside"
                      aria-expanded="false"
                      >Houses</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      href="/about"
                      role="button"
                      data-bs-auto-close="outside"
                      aria-expanded="false"
                      >About</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      href="/contact"
                      role="button"
                      data-bs-auto-close="outside"
                      aria-expanded="false"
                      >Contact</a
                    >
                  </li>
                </ul>
                <!-- Mobile Content -->
                <div class="mobile-content d-block d-lg-none">
                  <div
                    class="d-flex flex-column align-items-center justify-content-center mt-70"
                  >
                    <form
                      action="#"
                      class="header-search-two position-relative"
                    >
                      <input type="text" placeholder="Search Here..." />
                      <img
                        src="images/icon/icon_122.svg"
                        alt=""
                        class="icon position-absolute"
                      />
                    </form>
                  </div>
                </div>
                <!-- /.mobile-content -->
              </div>
            </nav>
          </div>
        </div>
        <!-- /.inner-content -->
      </header>
      <!-- /.theme-main-menu -->
    </div>
  </body>
</html>
