<%- include('../partials/header') %>

<!--
			=============================================
				Theme Inner Banner
			==============================================
			-->
<div class="inner-banner-one text-center">
  <div class="container">
    <h2 class="title fw-500 tx-dark">About us</h2>
  </div>
</div>
<!-- /.inner-banner-one -->

<!--
			=============================================
				Feature Section Forty Six
			==============================================
			-->
<div class="fancy-feature-fortySix position-relative">
  <div class="container">
    <div
      class="line-bg-wrapper position-relative pt-140 pb-20 lg-pt-100 md-pb-130"
    >
      <div class="quote-wrapper text-center wow fadeInUp"></div>
      <!-- /.quote-wrapper -->
      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="blog-meta-wrapper pe-xxl-5">
            <article class="blog-details-content">
              <h2 class="text-center" style="margin-bottom: 2rem">
                Welcome to Prexlyn Properties
              </h2>
              <p>
                At Prexlyn Properties, we are passionate about connecting you
                with your dream property and delivering unparalleled service
                that exceeds your expectations.
              </p>
              <p>
                With our deep industry expertise, extensive network, and
                innovative strategies, we are your trusted partner in navigating
                the dynamic real estate market. Our mission is to empower you to
                make informed decisions, secure the best deals, and achieve your
                real estate goals.
              </p>
              <p>
                We believe in personalized attention and creating lasting
                relationships with our valued clients. Our dedicated team of
                experts is committed to understanding your unique requirements,
                guiding you through the process, and ensuring your utmost
                satisfaction.
              </p>
              <p>
                As pioneers of cutting-edge technology, we bring you the finest
                selection of properties through our exclusive listings. From
                luxurious apartments to prime land opportunities, we curate a
                portfolio of exceptional options tailored to your preferences.
              </p>
              <p>
                Take the first step towards your real estate aspirations today.
                Explore our website, browse our captivating listings, and
                discover the possibilities that await you. Our experienced
                agents are ready to assist you in finding your perfect home or
                investment.
              </p>
              <p>
                Experience the Prexlyn Properties difference. Contact us now to
                schedule a consultation and unlock the extraordinary
                opportunities in the Lagos real estate market. Let us turn your
                dreams into reality. Together, we'll redefine your real estate
                journey and embark on a path to success.
              </p>
            </article>
            <!-- /.blog-details-content -->
          </div>
        </div>
      </div>
    </div>
    <!-- /.line-bg-wrapper -->
  </div>
  <!-- /.container -->
</div>
<!-- /.fancy-feature-fortySix -->

<!--
			=====================================================
				Team Section Three
			=====================================================
			-->
<div class="team-section-three position-relative pt-40 md-pt-20">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xxl-8 col-md-7 col-sm-9 m-auto wow fadeInUp">
        <div class="title-style-five text-center pb-50 lg-pb-20">
          <h2 class="main-title fw-500 tx-dark">
            Our Team of Real Estate Experts
          </h2>
        </div>
        <!-- /.title-style-five -->
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <div class="pe-3 ps-3 ps-xxl-5 pe-xxl-5">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="team-block-three position-relative mt-40 wow fadeInUp">
          <img
            src="images/img-prexlyn-pages/moses-headshot.png"
            alt="Moses Paul"
            class="team-img"
            style="width: 265px; max-height: 370px"
          />
          <div class="overlay-bg d-flex align-items-end">
            <div class="hover-content tran3s">
              <h6 class="name text-white">Moses Paul</h6>
              <div class="position">Chief Executive Officer</div>
              <ul class="social-icon d-flex style-none">
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-pinterest-p"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /.overlay-bg -->
        </div>
        <!-- /.team-block-three -->
      </div>
      <div class="col-md-3 col-sm-6">
        <div
          class="team-block-three position-relative mt-40 wow fadeInUp"
          data-wow-delay="0.2s"
        >
          <img
            src="images/img-prexlyn-pages/tessy-headshot.png"
            alt=""
            class="team-img w-100"
            style="max-height: 370px"
          />
          <div class="overlay-bg d-flex align-items-end">
            <div class="hover-content tran3s">
              <h6 class="name text-white">Onome Tessy</h6>
              <div class="position">Real Estate Agent / Realtor</div>
              <ul class="social-icon d-flex style-none">
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-pinterest-p"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /.overlay-bg -->
        </div>
        <!-- /.team-block-three -->
      </div>
      <div class="col-md-3 col-sm-6">
        <div
          class="team-block-three position-relative mt-40 wow fadeInUp"
          data-wow-delay="0.3s"
        >
          <img
            src="images/team/img_10.jpg"
            alt=""
            class="team-img w-100"
            style="max-height: 370px"
          />
          <div class="overlay-bg d-flex align-items-end">
            <div class="hover-content tran3s">
              <h6 class="name text-white">Jubayer Hasan</h6>
              <div class="position">Real Estate Broker</div>
              <ul class="social-icon d-flex style-none">
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-pinterest-p"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /.overlay-bg -->
        </div>
        <!-- /.team-block-three -->
      </div>
      <div class="col-md-3 col-sm-6">
        <div
          class="team-block-three position-relative mt-40 wow fadeInUp"
          data-wow-delay="0.4s"
        >
          <img
            src="images/team/img_11.jpg"
            alt=""
            class="team-img w-100"
            style="max-height: 370px"
          />
          <div class="overlay-bg d-flex align-items-end">
            <div class="hover-content tran3s">
              <h6 class="name text-white">Martin Jame</h6>
              <div class="position">Property Manager</div>
              <ul class="social-icon d-flex style-none">
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-pinterest-p"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /.overlay-bg -->
        </div>
        <!-- /.team-block-three -->
      </div>
    </div>
    <!-- /.row -->
  </div>
  <div class="line-bg-wrapper"></div>
</div>
<!-- /.team-section-three -->

<!--
			=====================================================
				Feedback Section Fourteen
			=====================================================
			-->
<div class="feedback-section-fourteen position-relative zn2">
  <div class="container">
    <div
      class="line-bg-wrapper position-relative zn2 pt-225 pb-180 lg-pt-120 lg-pb-80"
    >
      <div class="row">
        <div class="col-md-6 wow fadeInLeft">
          <div class="title-style-five">
            <h2 class="main-title fw-500 tx-dark">Client Testimonials</h2>
          </div>
          <!-- /.title-style-five -->

          <div class="mt-120 lg-mt-40 ps-xl-5 ms-xl-5">
            <div class="feedback_slider_eleven">
              <div class="item">
                <div class="feedback-block-twelve">
                  <div
                    class="icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <img src="images/icon/icon_42.svg" alt="" />
                  </div>
                  <p class="tx-dark mt-35 lg-mt-20">
                    The team at Prexlyn Properties provided exceptional support
                    and guidance when I was searching for rental property. They
                    were patient, understanding, and took the time to understand
                    my requirements. Thanks to their efforts, I found a
                    fantastic place to call home.
                  </p>
                </div>
                <!-- /.feedback-block-twelve -->
              </div>
              <div class="item">
                <div class="feedback-block-twelve">
                  <div
                    class="icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <img src="images/icon/icon_42.svg" alt="" />
                  </div>
                  <p class="tx-dark mt-35 lg-mt-20">
                    Prexlyn Properties has a deep understanding of the local
                    real estate market. Their expertise helped me navigate the
                    complexities of buying a property. They guided me through
                    the negotiations, provided valuable insights, and ensured I
                    made an informed decision. I couldn't be happier with their
                    service.
                  </p>
                </div>
                <!-- /.feedback-block-twelve -->
              </div>
              <div class="item">
                <div class="feedback-block-twelve">
                  <div
                    class="icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <img src="images/icon/icon_42.svg" alt="" />
                  </div>
                  <p class="tx-dark mt-35 lg-mt-20">
                    Prexlyn Properties went above and beyond to find me my dream
                    home. They understood my preferences and tirelessly searched
                    for properties that matched my criteria. Their patience,
                    dedication, and exceptional customer service made the home
                    buying process a breeze.
                  </p>
                </div>
                <!-- /.feedback-block-twelve -->
              </div>
            </div>
            <!-- /.feedback_slider_eleven -->
          </div>
        </div>

        <div class="col-xl-6 col-lg-5 col-md-6 ms-auto">
          <div class="img-holder position-relative mt-25 wow fadeInRight">
            <img
              src="images/lazy.svg"
              data-src="images/img-prexlyn-pages/smiling-african-woman.jpeg"
              alt=""
              class="lazy-img ms-auto"
            />
            <div
              class="rating-box bg-black text-white d-flex flex-column justify-content-center align-items-center"
            >
              <strong class="fw-500">5.0</strong>
              <span>avg rating</span>
            </div>
            <!-- /.rating-box -->
            <img
              src="images/lazy.svg"
              data-src="images/shape/shape_163.svg"
              alt=""
              class="lazy-img shapes shape-one"
            />
            <img
              src="images/lazy.svg"
              data-src="images/shape/shape_168.svg"
              alt=""
              class="lazy-img shapes shape-two"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- /.line-bg-wrapper -->
  </div>
  <img
    src="images/lazy.svg"
    data-src="images/shape/shape_169.svg"
    alt=""
    class="lazy-img shapes shape-three"
  />
</div>
<!-- /.feedback-section-fourteen -->

<!--
			=============================================
				Feature Section Fifty
			==============================================
			-->
      <div class="fancy-feature-fifty position-relative mt-200 lg-mt-100">
        <div class="container">
          <div class="row">
            <div class="col-xl-5 col-lg-6 wow fadeInLeft">
              <div class="title-style-five">
                <h2 class="main-title fw-500 tx-dark">Frequently Asked Questions</h2>
              </div>
              <!-- /.title-style-five -->
              <p class="text-lg mt-40 mb-45 lg-mt-20 lg-mb-30">
                Don’t find your answer here? just send us a message for help
              </p>
              <a
                href="https://api.whatsapp.com/send?phone=2348052380693"
                class="btn-one fw-500"
                >Send Your Message</a
              >
            </div>

            <div class="col-xl-7 col-lg-6 ms-auto wow fadeInRight">
              <div class="accordion accordion-style-seven md-mt-60" id="accordionOne">
                <div class="accordion-item">
                  <div class="accordion-header" id="headingOne">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseOne"
                      aria-expanded="false"
                      aria-controls="collapseOne"
                    >
                      How does Prexlyn Properties determine property valuations?
                    </button>
                  </div>
                  <div
                    id="collapseOne"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingOne"
                    data-bs-parent="#accordionOne"
                  >
                    <div class="accordion-body">
                      <p>
                        At Prexlyn Properties, we employ a combination of industry
                        knowledge, market analysis, and property assessment techniques
                        to determine accurate property valuations. Our team considers
                        factors such as location, property condition, comparable sales
                        data, and market trends to provide fair and realistic
                        valuations for our clients.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <div class="accordion-header" id="headingTwo">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                    >
                      What areas does Prexlyn Properties serve?
                    </button>
                  </div>
                  <div
                    id="collapseTwo"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingTwo"
                    data-bs-parent="#accordionOne"
                  >
                    <div class="accordion-body">
                      <p>
                        Prexlyn Properties primarily operates in Nigeria, catering to
                        the diverse real estate needs of clients within the city. Our
                        extensive network and local expertise allow us to offer
                        comprehensive services in various neighborhoods and areas
                        across Nigeria.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <div class="accordion-header" id="headingThree">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseThree"
                      aria-expanded="true"
                      aria-controls="collapseThree"
                    >
                      How can I get in touch with Prexlyn Properties?
                    </button>
                  </div>
                  <div
                    id="collapseThree"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingThree"
                    data-bs-parent="#accordionOne"
                  >
                    <div class="accordion-body">
                      <p>
                        Getting in touch with Prexlyn Properties is easy! You can
                        reach us through our website's contact form, email,
                        <a
                          href="https://api.whatsapp.com/send?phone=2348052380693"
                          class="text-decoration-underline"
                          style="color: #ff733b"
                          >phone or whatsapp</a
                        >. Our friendly team is always ready to assist you, answer
                        your questions, and provide the necessary information to meet
                        your real estate needs.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <div class="accordion-header" id="headingFour">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseFour"
                      aria-expanded="false"
                      aria-controls="collapseFour"
                    >
                      Is Prexlyn Properties a licensed real estate company?
                    </button>
                  </div>
                  <div
                    id="collapseFour"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingFour"
                    data-bs-parent="#accordionOne"
                  >
                    <div class="accordion-body">
                      <p>
                        Yes, Prexlyn Properties is a fully licensed real estate
                        company operating in compliance with all applicable
                        regulations and requirements in Nigeria. We prioritize
                        professionalism, ethical practices, and client satisfaction,
                        ensuring a reliable and trustworthy real estate experience.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <div class="accordion-header" id="headingFive">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseFive"
                      aria-expanded="false"
                      aria-controls="collapseFive"
                    >
                      What sets Prexlyn Properties apart from other real estate
                      agencies?
                    </button>
                  </div>
                  <div
                    id="collapseFive"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingFive"
                    data-bs-parent="#accordionOne"
                  >
                    <div class="accordion-body">
                      <p>
                        Prexlyn Properties stands out through our unwavering
                        commitment to delivering exceptional service, personalized
                        attention to clients' needs, extensive market knowledge, and a
                        strong network of industry professionals. We strive to exceed
                        expectations, provide innovative solutions, and create lasting
                        relationships built on trust and integrity.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container -->
        <img
          src="images/lazy.svg"
          data-src="images/shape/shape_163.svg"
          alt=""
          class="lazy-img shapes shape-one"
        />
      </div>
      <!-- /.fancy-feature-fifty -->

<%- include('../partials/footer') %>
