<%- include('../partials/header') %>

<!--
			=============================================
				Theme Inner Banner
			==============================================
			-->
<div class="inner-banner-one text-center">
  <div class="container">
    <h2 class="title fw-500 tx-dark">About us</h2>
  </div>
</div>
<!-- /.inner-banner-one -->

<!--
			=============================================
				Feature Section Forty Six
			==============================================
			-->
<div class="fancy-feature-fortySix position-relative">
  <div class="container">
    <div
      class="line-bg-wrapper position-relative pt-140 pb-20 lg-pt-100 md-pb-130"
    >
      <div class="quote-wrapper text-center wow fadeInUp"></div>
      <!-- /.quote-wrapper -->
      <div class="row">
        <div class="col-md-10 m-auto">
          <div class="blog-meta-wrapper pe-xxl-5">
            <article class="blog-details-content">
              <h2 class="text-center" style="margin-bottom: 2rem">
                Welcome to Prexlyn Properties
              </h2>
              <p>
                At Prexlyn Properties, we are passionate about connecting you
                with your dream property and delivering unparalleled service
                that exceeds your expectations.
              </p>
              <p>
                With our deep industry expertise, extensive network, and
                innovative strategies, we are your trusted partner in navigating
                the dynamic real estate market. Our mission is to empower you to
                make informed decisions, secure the best deals, and achieve your
                real estate goals.
              </p>
              <p>
                We believe in personalized attention and creating lasting
                relationships with our valued clients. Our dedicated team of
                experts is committed to understanding your unique requirements,
                guiding you through the process, and ensuring your utmost
                satisfaction.
              </p>
              <p>
                As pioneers of cutting-edge technology, we bring you the finest
                selection of properties through our exclusive listings. From
                luxurious apartments to prime land opportunities, we curate a
                portfolio of exceptional options tailored to your preferences.
              </p>
              <p>
                Take the first step towards your real estate aspirations today.
                Explore our website, browse our captivating listings, and
                discover the possibilities that await you. Our experienced
                agents are ready to assist you in finding your perfect home or
                investment.
              </p>
              <p>
                Experience the Prexlyn Properties difference. Contact us now to
                schedule a consultation and unlock the extraordinary
                opportunities in the Lagos real estate market. Let us turn your
                dreams into reality. Together, we'll redefine your real estate
                journey and embark on a path to success.
              </p>
            </article>
            <!-- /.blog-details-content -->
          </div>
        </div>
      </div>
    </div>
    <!-- /.line-bg-wrapper -->
  </div>
  <!-- /.container -->
</div>
<!-- /.fancy-feature-fortySix -->

<!--
			=====================================================
				Team Section Three
			=====================================================
			-->
<div class="team-section-three position-relative pt-40 md-pt-20">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xxl-8 col-md-7 col-sm-9 m-auto wow fadeInUp">
        <div class="title-style-five text-center pb-50 lg-pb-20">
          <h2 class="main-title fw-500 tx-dark">
            Our Team of Real Estate Experts
          </h2>
        </div>
        <!-- /.title-style-five -->
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <div class="pe-3 ps-3 ps-xxl-5 pe-xxl-5">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="team-block-three position-relative mt-40 wow fadeInUp">
          <img
            src="images/img-prexlyn-pages/moses-headshot.png"
            alt="Moses Paul"
            class="team-img"
            style="width: 265px; max-height: 370px"
          />
          <div class="overlay-bg d-flex align-items-end">
            <div class="hover-content tran3s">
              <h6 class="name text-white">Moses Paul</h6>
              <div class="position">Chief Executive Officer</div>
              <ul class="social-icon d-flex style-none">
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-pinterest-p"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /.overlay-bg -->
        </div>
        <!-- /.team-block-three -->
      </div>
      <div class="col-md-3 col-sm-6">
        <div
          class="team-block-three position-relative mt-40 wow fadeInUp"
          data-wow-delay="0.2s"
        >
          <img
            src="images/img-prexlyn-pages/tessy-headshot.png"
            alt=""
            class="team-img w-100"
            style="max-height: 370px"
          />
          <div class="overlay-bg d-flex align-items-end">
            <div class="hover-content tran3s">
              <h6 class="name text-white">Onome Tessy</h6>
              <div class="position">Real Estate Agent / Realtor</div>
              <ul class="social-icon d-flex style-none">
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-pinterest-p"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /.overlay-bg -->
        </div>
        <!-- /.team-block-three -->
      </div>
      <div class="col-md-3 col-sm-6">
        <div
          class="team-block-three position-relative mt-40 wow fadeInUp"
          data-wow-delay="0.3s"
        >
          <img
            src="images/team/img_10.jpg"
            alt=""
            class="team-img w-100"
            style="max-height: 370px"
          />
          <div class="overlay-bg d-flex align-items-end">
            <div class="hover-content tran3s">
              <h6 class="name text-white">Jubayer Hasan</h6>
              <div class="position">Real Estate Broker</div>
              <ul class="social-icon d-flex style-none">
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-pinterest-p"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /.overlay-bg -->
        </div>
        <!-- /.team-block-three -->
      </div>
      <div class="col-md-3 col-sm-6">
        <div
          class="team-block-three position-relative mt-40 wow fadeInUp"
          data-wow-delay="0.4s"
        >
          <img
            src="images/team/img_11.jpg"
            alt=""
            class="team-img w-100"
            style="max-height: 370px"
          />
          <div class="overlay-bg d-flex align-items-end">
            <div class="hover-content tran3s">
              <h6 class="name text-white">Martin Jame</h6>
              <div class="position">Property Manager</div>
              <ul class="social-icon d-flex style-none">
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-pinterest-p"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /.overlay-bg -->
        </div>
        <!-- /.team-block-three -->
      </div>
    </div>
    <!-- /.row -->
  </div>
  <div class="line-bg-wrapper"></div>
</div>
<!-- /.team-section-three -->

<!--
			=====================================================
				Feedback Section Fourteen
			=====================================================
			-->
<div class="feedback-section-fourteen position-relative zn2">
  <div class="container">
    <div
      class="line-bg-wrapper position-relative zn2 pt-225 pb-180 lg-pt-120 lg-pb-80"
    >
      <div class="row">
        <div class="col-md-6 wow fadeInLeft">
          <div class="title-style-five">
            <h2 class="main-title fw-500 tx-dark">Client Testimonials</h2>
          </div>
          <!-- /.title-style-five -->

          <div class="mt-120 lg-mt-40 ps-xl-5 ms-xl-5">
            <div class="feedback_slider_eleven">
              <div class="item">
                <div class="feedback-block-twelve">
                  <div
                    class="icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <img src="images/icon/icon_42.svg" alt="" />
                  </div>
                  <p class="tx-dark mt-35 lg-mt-20">
                    The team at Prexlyn Properties provided exceptional support
                    and guidance when I was searching for rental property. They
                    were patient, understanding, and took the time to understand
                    my requirements. Thanks to their efforts, I found a
                    fantastic place to call home.
                  </p>
                </div>
                <!-- /.feedback-block-twelve -->
              </div>
              <div class="item">
                <div class="feedback-block-twelve">
                  <div
                    class="icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <img src="images/icon/icon_42.svg" alt="" />
                  </div>
                  <p class="tx-dark mt-35 lg-mt-20">
                    Prexlyn Properties has a deep understanding of the local
                    real estate market. Their expertise helped me navigate the
                    complexities of buying a property. They guided me through
                    the negotiations, provided valuable insights, and ensured I
                    made an informed decision. I couldn't be happier with their
                    service.
                  </p>
                </div>
                <!-- /.feedback-block-twelve -->
              </div>
              <div class="item">
                <div class="feedback-block-twelve">
                  <div
                    class="icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <img src="images/icon/icon_42.svg" alt="" />
                  </div>
                  <p class="tx-dark mt-35 lg-mt-20">
                    Prexlyn Properties went above and beyond to find me my dream
                    home. They understood my preferences and tirelessly searched
                    for properties that matched my criteria. Their patience,
                    dedication, and exceptional customer service made the home
                    buying process a breeze.
                  </p>
                </div>
                <!-- /.feedback-block-twelve -->
              </div>
            </div>
            <!-- /.feedback_slider_eleven -->
          </div>
        </div>

        <div class="col-xl-6 col-lg-5 col-md-6 ms-auto">
          <div class="img-holder position-relative mt-25 wow fadeInRight">
            <img
              src="images/lazy.svg"
              data-src="images/img-prexlyn-pages/smiling-african-woman.jpeg"
              alt=""
              class="lazy-img ms-auto"
            />
            <div
              class="rating-box bg-black text-white d-flex flex-column justify-content-center align-items-center"
            >
              <strong class="fw-500">5.0</strong>
              <span>avg rating</span>
            </div>
            <!-- /.rating-box -->
            <img
              src="images/lazy.svg"
              data-src="images/shape/shape_163.svg"
              alt=""
              class="lazy-img shapes shape-one"
            />
            <img
              src="images/lazy.svg"
              data-src="images/shape/shape_168.svg"
              alt=""
              class="lazy-img shapes shape-two"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- /.line-bg-wrapper -->
  </div>
  <img
    src="images/lazy.svg"
    data-src="images/shape/shape_169.svg"
    alt=""
    class="lazy-img shapes shape-three"
  />
</div>
<!-- /.feedback-section-fourteen -->

<%- include('../partials/footer') %>
