<%- include('../partials/header') %>

<!--
			=============================================
				Feature Section Fifty One
			==============================================
			-->
<div class="fancy-feature-fiftyOne position-relative mt-200">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 wow fadeInLeft">
        <div class="title-style-five mb-65 lg-mb-40">
          <div class="sc-title-two fst-italic position-relative">
            Our Stunning Collection of Homes
          </div>
          <h2 class="main-title fw-500 tx-dark">Find Your Perfect Haven!</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
  <img
    src="images/lazy.svg"
    data-src="images/shape/shape_172.svg"
    alt=""
    class="lazy-img shapes shape-two"
  />
  <img
    src="images/lazy.svg"
    data-src="images/shape/shape_175.svg"
    alt=""
    class="lazy-img shapes shape-three"
  />
</div>
<!-- /.fancy-feature-fiftyOne -->

<!--
			=============================================
				Portfolio Gallery Three
			==============================================
			-->
<div class="portfolio-gallery-three pt-30">
  <div class="container">
    <ul class="style-none text-center isotop-menu-wrapper g-control-nav-two">
      <li class="is-checked" data-filter="*">All</li>
      <li data-filter=".residential" id="dupluxes">Duplexes</li>
      <li data-filter=".industrial">Bungalows</li>
      <li data-filter=".recreational">Apartments</li>
      <li data-filter=".agricultural">Cottages</li>
    </ul>

    <div id="isotop-gallery-wrapper" class="grid-2column pt-90 lg-pt-50">
      <div class="grid-sizer"></div>
      <div class="isotop-item residential">
        <div class="portfolio-block-three position-relative mb-110 lg-mb-90">
          <div class="img-meta">
            <a
              class="fancybox expend-btn font-recoleta tran3s"
              data-fancybox=""
              title="Add to cart"
              href="images/img-prexlyn-pages/lands/land-1.jpg"
              tabindex="0"
              style="max-height: 300px"
            >
              <img
                src="images/img-prexlyn-pages/lands/land-1.jpg"
                alt=""
                class="w-100"
              />
            </a>
          </div>
          <div
            class="meta-data tran3s d-flex align-items-center justify-content-between"
          >
            <a
              href="/lands/residential"
              class="title tran3s d-flex flex-column"
            >
              <span class="pj-name tran3s fw-500">Lakowe Lakes & Golf</span>
              <span class="tag"><strong>648sqm</strong></span>
              <span class="tag">Lekki, Lagos</span>
              <span class="tag">₦400,000,000</span>
            </a>
            <a
              class="expend-btn"
              title="Add to cart"
              href="https://api.whatsapp.com/send?phone=2348052380693"
              >🛒</a
            >
          </div>
        </div>
        <!-- /.portfolio-block-three -->
      </div>
      <!-- /.item -->
      <div class="isotop-item industrial">
        <div class="portfolio-block-three position-relative mb-110 lg-mb-90">
          <div class="img-meta">
            <a
              class="fancybox expend-btn font-recoleta tran3s"
              data-fancybox=""
              title="Add to cart"
              href="images/img-prexlyn-pages/lands/land-2.jpg"
              tabindex="0"
              style="max-height: 300px"
            >
              <img
                src="images/img-prexlyn-pages/lands/land-2.jpg"
                alt=""
                class="w-100"
              />
            </a>
          </div>
          <div
            class="meta-data tran3s d-flex align-items-center justify-content-between"
          >
            <a href="/lands/industrial" class="title tran3s d-flex flex-column">
              <span class="pj-name tran3s fw-500">Amen Estate</span>
              <span class="tag"><strong>240sqm</strong></span>
              <span class="tag">Lekki, Lagos</span>
              <span class="tag">₦120,000,000</span>
            </a>
            <a
              class="expend-btn"
              title="Add to cart"
              href="https://api.whatsapp.com/send?phone=2348052380693"
              >🛒</a
            >
          </div>
        </div>
        <!-- /.portfolio-block-three -->
      </div>
      <!-- /.item -->
      <div class="isotop-item recreational">
        <div class="portfolio-block-three position-relative mb-110 lg-mb-90">
          <div class="img-meta">
            <a
              class="fancybox expend-btn font-recoleta tran3s"
              data-fancybox=""
              title="Add to cart"
              href="images/img-prexlyn-pages/lands/land-3.jpg"
              tabindex="0"
            >
              <img
                src="images/img-prexlyn-pages/lands/land-3.jpg"
                alt=""
                class="w-100"
                style="max-height: 300px"
              />
            </a>
          </div>
          <div
            class="meta-data tran3s d-flex align-items-center justify-content-between"
          >
            <a href="/lands/industrial" class="title tran3s d-flex flex-column">
              <span class="pj-name tran3s fw-500">Banana Island</span>
              <span class="tag"><strong>140sqm</strong></span>
              <span class="tag">Lekki, Lagos</span>
              <span class="tag">₦410,000,000</span>
            </a>
            <a
              class="expend-btn"
              title="Add to cart"
              href="https://api.whatsapp.com/send?phone=2348052380693"
              >🛒</a
            >
          </div>
        </div>
        <!-- /.portfolio-block-three -->
      </div>
      <!-- /.item -->
      <div class="isotop-item agricultural">
        <div class="portfolio-block-three position-relative mb-110 lg-mb-90">
          <div class="img-meta">
            <a
              class="fancybox expend-btn font-recoleta tran3s"
              data-fancybox=""
              title="Add to cart"
              href="images/img-prexlyn-pages/lands/land-4.jpg"
              tabindex="0"
              style="max-height: 300px"
            >
              <img
                src="images/img-prexlyn-pages/lands/land-4.jpg"
                alt=""
                class="w-100"
              />
            </a>
          </div>
          <div
            class="meta-data tran3s d-flex align-items-center justify-content-between"
          >
            <a
              href="portfolio-details-v1.html"
              class="title tran3s d-flex flex-column"
            >
              <span class="pj-name tran3s fw-500"
                >Northern Foreshore Estate</span
              >
              <span class="tag"><strong>900sqm</strong></span>
              <span class="tag">Lekki, Lagos</span>
              <span class="tag">₦290,000,000</span>
            </a>
            <a
              class="expend-btn"
              title="Add to cart"
              href="https://api.whatsapp.com/send?phone=2348052380693"
              >🛒</a
            >
          </div>
        </div>
        <!-- /.portfolio-block-three -->
      </div>
      <!-- /.item -->
      <div class="isotop-item residential">
        <div class="portfolio-block-three position-relative mb-110 lg-mb-90">
          <div class="img-meta">
            <a
              class="fancybox expend-btn font-recoleta tran3s"
              data-fancybox=""
              title="Add to cart"
              href="images/img-prexlyn-pages/lands/land-5.jpg"
              tabindex="0"
              style="max-height: 300px"
            >
              <img
                src="images/img-prexlyn-pages/lands/land-5.jpg"
                alt=""
                class="w-100"
              />
            </a>
          </div>
          <div
            class="meta-data tran3s d-flex align-items-center justify-content-between"
          >
            <a
              href="/lands/residential"
              class="title tran3s d-flex flex-column"
            >
              <span class="pj-name tran3s fw-500">Niyi Okunubi Estate</span>
              <span class="tag"><strong>38sqm</strong></span>
              <span class="tag">Ikota, Lagos</span>
              <span class="tag">₦12,000,000</span>
            </a>
            <a
              class="expend-btn"
              title="Add to cart"
              href="https://api.whatsapp.com/send?phone=2348052380693"
              >🛒</a
            >
          </div>
        </div>
        <!-- /.portfolio-block-three -->
      </div>
      <!-- /.item -->
      <div class="isotop-item industrial">
        <div class="portfolio-block-three position-relative mb-110 lg-mb-90">
          <div class="img-meta">
            <a
              class="fancybox expend-btn font-recoleta tran3s"
              data-fancybox=""
              title="Add to cart"
              href="images/img-prexlyn-pages/lands/land-5.jpg"
              tabindex="0"
              style="max-height: 300px"
            >
              <img
                src="images/img-prexlyn-pages/lands/land-6.jpg"
                alt=""
                class="w-100"
              />
            </a>
          </div>
          <div
            class="meta-data tran3s d-flex align-items-center justify-content-between"
          >
            <a
              href="portfolio-details-v1.html"
              class="title tran3s d-flex flex-column"
            >
              <span class="pj-name tran3s fw-500">Nicon Town</span>
              <span class="tag"><strong>24sqm</strong></span>
              <span class="tag">Ikota, Lagos</span>
              <span class="tag">₦25,000,000</span>
            </a>
            <a
              class="expend-btn"
              title="Add to cart"
              href="https://api.whatsapp.com/send?phone=2348052380693"
              >🛒</a
            >
          </div>
        </div>
        <!-- /.portfolio-block-three -->
      </div>
      <!-- /.item -->
      <div class="isotop-item recreational">
        <div class="portfolio-block-three position-relative mb-5 lg-mb-5">
          <div class="img-meta">
            <a
              class="fancybox expend-btn font-recoleta tran3s"
              data-fancybox=""
              title="Add to cart"
              href="images/img-prexlyn-pages/lands/land-7.jpg"
              tabindex="0"
              style="max-height: 300px"
            >
              <img
                src="images/img-prexlyn-pages/lands/land-7.jpg"
                alt=""
                class="w-100"
              />
            </a>
          </div>
          <div
            class="meta-data tran3s d-flex align-items-center justify-content-between"
          >
            <a
              href="/lands/residential"
              class="title tran3s d-flex flex-column"
            >
              <span class="pj-name tran3s fw-500">Crown Estate</span>
              <span class="tag"><strong>190sqm</strong></span>
              <span class="tag">Magodo, Lagos</span>
              <span class="tag">₦133,000,000</span>
            </a>
            <a
              class="expend-btn"
              title="Add to cart"
              href="https://api.whatsapp.com/send?phone=2348052380693"
              >🛒</a
            >
          </div>
        </div>
        <!-- /.portfolio-block-three -->
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.portfolio-gallery-three -->
<%- include('../partials/footer') %>
