<%- include('../partials/header') %>
			<!--
			=============================================
				Theme Hero Banner
			==============================================
			-->
			<div class="hero-banner-thirteen position-relative zn2 pt-190 pb-225 lg-pb-150 lg-pt-150 md-pb-80">
				<div class="container">
					<div class="row">
						<div class="col-xl-10 m-auto">
							<div class="text-wrapper wow fadeInUp">
								<h1 class="hero-heading fw-500 tx-dark text-center">Discover your <br> perfect home <span class="position-relative">today. <img src="images/lazy.svg" data-src="images/shape/shape_161.svg" alt="" class="lazy-img shapes text-shape"></span></h1>
								<p class="text-lg tx-dark mb-80 pt-35 text-center lg-pt-20 lg-mb-50">Let’s find a home that’s perfect for your future</p>
							</div>
						</div>
					</div> <!-- /.row -->
					<div class="search-form-bg position-relative wow fadeInUp">
						<form action="#" class="search-area">
							<div class="row gx-0 align-items-center">
								<div class="col-lg-3">
									<div class="input-block">
										<div class="title">I’m looking to..</div>
										<select class="nice-select">
											<option value="0" data-display="Buy or Rent a">House</option>
											<option value="1">Land</option>
											<option value="1">Apartment</option>
											<option value="1">Condo</option>
											<option value="1">Duplex</option>
											<option value="1">Cottage</option>
										</select>
									</div> <!-- /.input-block -->
								</div>
								<div class="col-lg-3">
									<div class="input-block">
										<div class="title">Location</div>
										<select class="nice-select">
											<option value="1">Lagos</option>
											<option value="1">Abuja</option>
											<option value="1">Port Harcourt</option>
											<option value="1">Ibadan</option>
											<option value="1">Kano</option>
											<option value="1">Enugu</option>
											<option value="1">Kaduna</option>
											<option value="1">Owerri</option>
											<option value="1">Benin City</option>
										</select>
									</div> <!-- /.input-block -->
								</div>
								<div class="col-lg-3">
									<div class="input-block">
										<div class="title">Price Range</div>
										<select class="nice-select">
											<option value="1">₦100,000 - ₦900,000</option>
											<option value="1">₦1,000,000 - ₦99,000,000</option>
											<option value="1">₦100,000,000 and above</option>
										</select>
									</div> <!-- /.input-block -->
								</div>
								<div class="col-lg-3">
									<div class="input-block">
										<button class="w-100 fw-500 tran3s">Search Now</button>
									</div> <!-- /.input-block -->
								</div>
							</div>
						</form> <!-- /.search-area -->
						<img src="images/lazy.svg" data-src="images/shape/shape_160.svg" alt="" class="lazy-img shapes shape-two">
					</div> <!-- /.search-form-bg -->
				</div> <!-- /.container -->
				<img src="images/lazy.svg" data-src="images/shape/shape_159.svg" alt="" class="lazy-img shapes shape-one">
			</div> <!-- /.hero-banner-thirteen -->




			<!--
			=============================================
				Feature Section Forty Six
			==============================================
			-->
			<div class="fancy-feature-fortySix position-relative">
				<div class="container">
					<div class="line-bg-wrapper position-relative pt-200 pb-180 lg-pt-120 md-pb-130">
						<div class="row align-items-center">
							<div class="col-lg-6 wow fadeInLeft">
								<div class="title-style-eleven md-mb-20">
									<h2 class="main-title tx-dark">Secure the best prices on Prexlyn Properties</h2>
								</div>
							</div>
							<div class="col-lg-5 ms-auto wow fadeInRight">
								<p class="text-lg m0">Discover the difference with our top-tier real estate services.</p>
								<p class="text-lg m0">Maximize your investment value with our exclusive deals on lands, apartments, and houses.</p>
							</div>
						</div>

						<div class="row gx-xxl-5 pt-90 lg-pt-40 md-pt-20">
							<div class="col-lg-4 col-sm-6 wow fadeInUp">
								<div class="card-style-twentyOne position-relative mt-35">
									<img src="images/lazy.svg" data-src="images/media/img_73.jpg" alt="" class="lazy-img w-100">
									<div class="hover-overlay d-flex flex-column align-items-center position-absolute tran3s">
										<h3 class="tx-dark">Apartments</h3>
										<a href="service-details.html" class="btn-four fw-500 mt-auto">View Details</a>
									</div> <!-- /.hover-overlay -->
								</div> <!-- /.card-style-twentyOne -->
							</div>
							<div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
								<div class="card-style-twentyOne position-relative mt-35">
									<img src="images/lazy.svg" data-src="images/media/img_74.jpg" alt="" class="lazy-img w-100">
									<div class="hover-overlay d-flex flex-column align-items-center position-absolute tran3s">
										<h3 class="tx-dark">Lands</h3>
										<a href="service-details.html" class="btn-four fw-500 mt-auto">View Details</a>
									</div> <!-- /.hover-overlay -->
								</div> <!-- /.card-style-twentyOne -->
							</div>
							<div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.35s">
								<div class="card-style-twentyOne position-relative mt-35">
									<img src="images/lazy.svg" data-src="images/media/img_75.jpg" alt="" class="lazy-img w-100">
									<div class="hover-overlay d-flex flex-column align-items-center position-absolute tran3s">
										<h3 class="tx-dark">Duplexes</h3>
										<a href="service-details.html" class="btn-four fw-500 mt-auto">View Details</a>
									</div> <!-- /.hover-overlay -->
								</div> <!-- /.card-style-twentyOne -->
							</div>
						</div>

						<div class="quote-wrapper text-center mt-120 lg-mt-80 wow fadeInUp">
							<div class="row">
								<div class="col-md-10 m-auto">
									<div class="icon rounded-circle d-flex align-items-center justify-content-center m-auto"><img src="images/lazy.svg" data-src="images/icon/icon_138.svg" alt="" class="lazy-img"></div>
									<p class="tx-dark mt-25 mb-30 fw-500">"Highly recommend Prexlyn Properties. They guided me to find the perfect home that met all my requirements."</p>
									<h6 class="fw-normal fst-italic tx-dark opacity-50 fs-20">Gbenga O.</h6>
								</div>
							</div>
						</div> <!-- /.quote-wrapper -->
						<!-- <img src="images/lazy.svg" data-src="images/assets/sticker_01.png" alt="" class="lazy-img shapes shape-one"> -->
						<div class="shapes shape-two"></div>
						<img src="images/lazy.svg" data-src="images/shape/shape_162.svg" alt="" class="lazy-img shapes shape-three">
						<!-- <img src="images/lazy.svg" data-src="images/assets/sticker_02.png" alt="" class="lazy-img shapes shape-four"> -->
						<div class="shapes shape-five"></div>
						<div class="shapes shape-six"></div>
					</div> <!-- /.line-bg-wrapper -->
				</div> <!-- /.container -->
			</div> <!-- /.fancy-feature-fortySix -->

			<button class="scroll-top">
				<i class="bi bi-arrow-up-short"></i>
			</button>




		<!-- Optional JavaScript _____________________________  -->

    	<!-- jQuery first, then Bootstrap JS -->
    	<!-- jQuery -->
		<script src="vendor/jquery.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- WOW js -->
		<script src="vendor/wow/wow.min.js"></script>
		<!-- Slick Slider -->
		<script src="vendor/slick/slick.min.js"></script>
		<!-- Fancybox -->
		<script src="vendor/fancybox/dist/jquery.fancybox.min.js"></script>
		<!-- Lazy -->
    	<script src="vendor/jquery.lazy.min.js"></script>
    	<!-- js Counter -->
		<script src="vendor/jquery.counterup.min.js"></script>
		<script src="vendor/jquery.waypoints.min.js"></script>
		<!-- Nice Select -->
		<script src="vendor/nice-select/jquery.nice-select.min.js"></script>
		<!-- validator js -->
    	<script src="vendor/validator.js"></script>
    	<!-- isotop -->
		<script  src="vendor/isotope.pkgd.min.js"></script>

		<!-- Theme js -->
		<script src="js/theme.js"></script>
		</div> <!-- /.main-page-wrapper -->
	</body>
</html>