<%- include('../partials/header') %>
<!--
			=============================================
				Theme Hero Banner
			==============================================
			-->
<div
  class="hero-banner-thirteen position-relative zn2 pt-190 pb-225 lg-pb-150 lg-pt-150 md-pb-80"
>
  <div class="container">
    <div class="row">
      <div class="col-xl-10 m-auto">
        <div class="text-wrapper wow fadeInUp">
          <h1 class="hero-heading fw-500 tx-dark text-center">
            Discover your <br />
            perfect home
            <span class="position-relative"
              >today.
              <img
                src="images/lazy.svg"
                data-src="images/shape/shape_161.svg"
                alt=""
                class="lazy-img shapes text-shape"
            /></span>
          </h1>
          <p class="text-lg tx-dark mb-80 pt-35 text-center lg-pt-20 lg-mb-50">
            Let’s find a home that’s perfect for your future
          </p>
        </div>
      </div>
    </div>
    <!-- /.row -->
    <div class="search-form-bg position-relative wow fadeInUp">
      <form action="#" class="search-area">
        <div class="row gx-0 align-items-center">
          <div class="col-lg-3">
            <div class="input-block">
              <div class="title">Buy or Rent a</div>
              <select class="nice-select">
                <option value="0" data-display="House">House</option>
                <option value="1">Land</option>
                <option value="1">Apartment</option>
                <option value="1">Bungalow</option>
                <option value="1">Duplex</option>
                <option value="1">Cottage</option>
              </select>
            </div>
            <!-- /.input-block -->
          </div>
          <div class="col-lg-3">
            <div class="input-block">
              <div class="title">Location</div>
              <select class="nice-select">
                <option value="1">Lagos</option>
                <option value="1">Abuja</option>
                <option value="1">Port Harcourt</option>
                <option value="1">Ibadan</option>
                <option value="1">Kano</option>
                <option value="1">Enugu</option>
                <option value="1">Kaduna</option>
                <option value="1">Owerri</option>
                <option value="1">Benin City</option>
              </select>
            </div>
            <!-- /.input-block -->
          </div>
          <div class="col-lg-3">
            <div class="input-block">
              <div class="title">Price Range</div>
              <select class="nice-select">
                <option value="1">₦100,000 - ₦900,000</option>
                <option value="1">₦1,000,000 - ₦99,000,000</option>
                <option value="1">₦100,000,000 and above</option>
              </select>
            </div>
            <!-- /.input-block -->
          </div>
          <div class="col-lg-3">
            <div class="input-block">
              <button class="w-100 fw-500 tran3s">Search Now</button>
            </div>
            <!-- /.input-block -->
          </div>
        </div>
      </form>
      <!-- /.search-area -->
      <img
        src="images/lazy.svg"
        data-src="images/shape/shape_160.svg"
        alt=""
        class="lazy-img shapes shape-two"
      />
    </div>
    <!-- /.search-form-bg -->
  </div>
  <!-- /.container -->
  <img
    src="images/lazy.svg"
    data-src="images/shape/shape_159.svg"
    alt=""
    class="lazy-img shapes shape-one"
  />
</div>
<!-- /.hero-banner-thirteen -->

<!--
			=============================================
				Feature Section Forty Six
			==============================================
			-->
<div class="fancy-feature-fortySix position-relative">
  <div class="container">
    <div
      class="line-bg-wrapper position-relative pt-200 pb-180 lg-pt-120 md-pb-130"
    >
      <div class="row align-items-center">
        <div class="col-lg-6 wow fadeInLeft">
          <div class="title-style-eleven md-mb-20">
            <h2 class="main-title tx-dark">
              Secure the best prices on Prexlyn Properties
            </h2>
          </div>
        </div>
        <div class="col-lg-5 ms-auto wow fadeInRight">
          <p class="text-lg m0">
            Discover the difference with our top-tier real estate services.
          </p>
          <p class="text-lg m0">
            Maximize your investment value with our exclusive deals on lands,
            apartments, and houses.
          </p>
        </div>
      </div>

      <div class="row gx-xxl-5 pt-90 lg-pt-40 md-pt-20">
        <div class="col-lg-4 col-sm-6 wow fadeInUp">
          <div class="card-style-twentyOne position-relative mt-35">
            <img
              src="images/lazy.svg"
              data-src="images/media/img_73.jpg"
              alt=""
              class="lazy-img w-100"
            />
            <div
              class="hover-overlay d-flex flex-column align-items-center position-absolute tran3s"
            >
              <h3 class="tx-dark">Apartments</h3>
              <a href="service-details.html" class="btn-four fw-500 mt-auto"
                >View Details</a
              >
            </div>
            <!-- /.hover-overlay -->
          </div>
          <!-- /.card-style-twentyOne -->
        </div>
        <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
          <div class="card-style-twentyOne position-relative mt-35">
            <img
              src="images/lazy.svg"
              data-src="images/media/img_74.jpg"
              alt=""
              class="lazy-img w-100"
            />
            <div
              class="hover-overlay d-flex flex-column align-items-center position-absolute tran3s"
            >
              <h3 class="tx-dark">Lands</h3>
              <a href="service-details.html" class="btn-four fw-500 mt-auto"
                >View Details</a
              >
            </div>
            <!-- /.hover-overlay -->
          </div>
          <!-- /.card-style-twentyOne -->
        </div>
        <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.35s">
          <div class="card-style-twentyOne position-relative mt-35">
            <img
              src="images/lazy.svg"
              data-src="images/media/img_75.jpg"
              alt=""
              class="lazy-img w-100"
            />
            <div
              class="hover-overlay d-flex flex-column align-items-center position-absolute tran3s"
            >
              <h3 class="tx-dark">Duplexes</h3>
              <a href="service-details.html" class="btn-four fw-500 mt-auto"
                >View Details</a
              >
            </div>
            <!-- /.hover-overlay -->
          </div>
          <!-- /.card-style-twentyOne -->
        </div>
      </div>

      <div class="quote-wrapper text-center mt-120 lg-mt-80 wow fadeInUp">
        <div class="row">
          <div class="col-md-10 m-auto">
            <div
              class="icon rounded-circle d-flex align-items-center justify-content-center m-auto"
            >
              <img
                src="images/lazy.svg"
                data-src="images/icon/icon_138.svg"
                alt=""
                class="lazy-img"
              />
            </div>
            <p class="tx-dark mt-25 mb-30 fw-500">
              "Highly recommend Prexlyn Properties. They guided me to find the
              perfect home that met all my requirements."
            </p>
            <h6 class="fw-normal fst-italic tx-dark opacity-50 fs-20">
              Gbenga O.
            </h6>
          </div>
        </div>
      </div>
      <!-- /.quote-wrapper -->
      <!-- <img src="images/lazy.svg" data-src="images/assets/sticker_01.png" alt="" class="lazy-img shapes shape-one"> -->
    </div>
    <!-- /.line-bg-wrapper -->
  </div>
  <!-- /.container -->
</div>
<!-- /.fancy-feature-fortySix -->

<!--
			=============================================
				Feature Section Forty Seven
			==============================================
			-->
<div
  class="fancy-feature-fortySeven zn2 position-relative pt-130 pb-160 lg-pt-100 lg-pb-100"
>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-5 wow fadeInLeft">
        <div class="title-style-eleven text-center text-md-start sm-mb-30">
          <h2 class="main-title tx-dark">Top Deals 🔥</h2>
        </div>
      </div>
      <div class="col-lg-6 col-md-7 wow fadeInRight">
        <ul
          class="nav nav-tabs border-0 justify-content-center justify-content-md-end"
          role="tablist"
        >
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              data-bs-toggle="tab"
              data-bs-target="#sp1"
              type="button"
              role="tab"
            >
              HOUSE
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              data-bs-toggle="tab"
              data-bs-target="#sp2"
              type="button"
              role="tab"
            >
              LANDS
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              data-bs-toggle="tab"
              data-bs-target="#sp3"
              type="button"
              role="tab"
            >
              APARTMENTS
            </button>
          </li>
        </ul>
      </div>
    </div>

    <div class="tab-content mt-50 lg-mt-20">
      <div class="tab-pane active show fade" id="sp1">
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="card-style-twentyTwo mt-35">
              <img
                src="images/lazy.svg"
                data-src="images/media/img_76.jpg"
                alt=""
                class="lazy-img w-100"
              />
              <div class="text-meta">
                <h4><a href="#" class="property-name">Blueberry villa.</a></h4>
                <p class="fs-18">Mirpur 10, Stadium dhaka 1208</p>
                <div class="d-flex align-items-center justify-content-between">
                  <strong class="price fw-500 tx-dark">₦34,900</strong>
                  <a href="#" class="read-more tran3s"
                    ><i class="bi bi-arrow-up-right"></i
                  ></a>
                </div>
              </div>
              <!-- /.text-meta -->
            </div>
            <!-- /.card-style-twentyTwo -->
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="card-style-twentyTwo mt-35">
              <img
                src="images/lazy.svg"
                data-src="images/media/img_77.jpg"
                alt=""
                class="lazy-img w-100"
              />
              <div class="text-meta">
                <h4><a href="#" class="property-name">White House villa</a></h4>
                <p class="fs-18">Mirpur 10, Stadium dhaka 1208</p>
                <div class="d-flex align-items-center justify-content-between">
                  <strong class="price fw-500 tx-dark">₦28,100</strong>
                  <a href="#" class="read-more tran3s"
                    ><i class="bi bi-arrow-up-right"></i
                  ></a>
                </div>
              </div>
              <!-- /.text-meta -->
            </div>
            <!-- /.card-style-twentyTwo -->
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="card-style-twentyTwo mt-35">
              <img
                src="images/lazy.svg"
                data-src="images/media/img_78.jpg"
                alt=""
                class="lazy-img w-100"
              />
              <div class="text-meta">
                <h4>
                  <a href="#" class="property-name"
                    >Luxury villa in Dal lake.</a
                  >
                </h4>
                <p class="fs-18">Mirpur 10, Stadium dhaka 1208</p>
                <div class="d-flex align-items-center justify-content-between">
                  <strong class="price fw-500 tx-dark">₦42,500</strong>
                  <a href="#" class="read-more tran3s"
                    ><i class="bi bi-arrow-up-right"></i
                  ></a>
                </div>
              </div>
              <!-- /.text-meta -->
            </div>
            <!-- /.card-style-twentyTwo -->
          </div>
        </div>
      </div>
      <!-- /.tab-pane -->

      <div class="tab-pane fade" id="sp2">
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="card-style-twentyTwo mt-35">
              <img
                src="images/lazy.svg"
                data-src="images/media/img_78.jpg"
                alt=""
                class="lazy-img w-100"
              />
              <div class="text-meta">
                <h4><a href="#" class="property-name">Blueberry villa.</a></h4>
                <p class="fs-18">Mirpur 10, Stadium dhaka 1208</p>
                <div class="d-flex align-items-center justify-content-between">
                  <strong class="price fw-500 tx-dark">₦34,900</strong>
                  <a href="#" class="read-more tran3s"
                    ><i class="bi bi-arrow-up-right"></i
                  ></a>
                </div>
              </div>
              <!-- /.text-meta -->
            </div>
            <!-- /.card-style-twentyTwo -->
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="card-style-twentyTwo mt-35">
              <img
                src="images/lazy.svg"
                data-src="images/media/img_76.jpg"
                alt=""
                class="lazy-img w-100"
              />
              <div class="text-meta">
                <h4><a href="#" class="property-name">White House villa</a></h4>
                <p class="fs-18">Mirpur 10, Stadium dhaka 1208</p>
                <div class="d-flex align-items-center justify-content-between">
                  <strong class="price fw-500 tx-dark">₦28,100</strong>
                  <a href="#" class="read-more tran3s"
                    ><i class="bi bi-arrow-up-right"></i
                  ></a>
                </div>
              </div>
              <!-- /.text-meta -->
            </div>
            <!-- /.card-style-twentyTwo -->
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="card-style-twentyTwo mt-35">
              <img
                src="images/lazy.svg"
                data-src="images/media/img_77.jpg"
                alt=""
                class="lazy-img w-100"
              />
              <div class="text-meta">
                <h4>
                  <a href="#" class="property-name"
                    >Luxury villa in Dal lake.</a
                  >
                </h4>
                <p class="fs-18">Mirpur 10, Stadium dhaka 1208</p>
                <div class="d-flex align-items-center justify-content-between">
                  <strong class="price fw-500 tx-dark">₦42,500</strong>
                  <a href="#" class="read-more tran3s"
                    ><i class="bi bi-arrow-up-right"></i
                  ></a>
                </div>
              </div>
              <!-- /.text-meta -->
            </div>
            <!-- /.card-style-twentyTwo -->
          </div>
        </div>
      </div>
      <!-- /.tab-pane -->
      <div class="tab-pane fade" id="sp3">
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="card-style-twentyTwo mt-35">
              <img
                src="images/lazy.svg"
                data-src="images/media/img_77.jpg"
                alt=""
                class="lazy-img w-100"
              />
              <div class="text-meta">
                <h4><a href="#" class="property-name">Blueberry villa.</a></h4>
                <p class="fs-18">Mirpur 10, Stadium dhaka 1208</p>
                <div class="d-flex align-items-center justify-content-between">
                  <strong class="price fw-500 tx-dark">₦34,900</strong>
                  <a href="#" class="read-more tran3s"
                    ><i class="bi bi-arrow-up-right"></i
                  ></a>
                </div>
              </div>
              <!-- /.text-meta -->
            </div>
            <!-- /.card-style-twentyTwo -->
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="card-style-twentyTwo mt-35">
              <img
                src="images/lazy.svg"
                data-src="images/media/img_76.jpg"
                alt=""
                class="lazy-img w-100"
              />
              <div class="text-meta">
                <h4><a href="#" class="property-name">White House villa</a></h4>
                <p class="fs-18">Mirpur 10, Stadium dhaka 1208</p>
                <div class="d-flex align-items-center justify-content-between">
                  <strong class="price fw-500 tx-dark">₦28,100</strong>
                  <a href="#" class="read-more tran3s"
                    ><i class="bi bi-arrow-up-right"></i
                  ></a>
                </div>
              </div>
              <!-- /.text-meta -->
            </div>
            <!-- /.card-style-twentyTwo -->
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="card-style-twentyTwo mt-35">
              <img
                src="images/lazy.svg"
                data-src="images/media/img_78.jpg"
                alt=""
                class="lazy-img w-100"
              />
              <div class="text-meta">
                <h4>
                  <a href="#" class="property-name"
                    >Luxury villa in Dal lake.</a
                  >
                </h4>
                <p class="fs-18">Mirpur 10, Stadium dhaka 1208</p>
                <div class="d-flex align-items-center justify-content-between">
                  <strong class="price fw-500 tx-dark">₦42,500</strong>
                  <a href="#" class="read-more tran3s"
                    ><i class="bi bi-arrow-up-right"></i
                  ></a>
                </div>
              </div>
              <!-- /.text-meta -->
            </div>
            <!-- /.card-style-twentyTwo -->
          </div>
        </div>
      </div>
      <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
  </div>
  <!-- /.container -->
  <img
    src="images/lazy.svg"
    data-src="images/shape/shape_163.svg"
    alt=""
    class="lazy-img shapes shape-one"
  />
</div>
<!-- /.fancy-feature-fortySeven -->

<!--
			=============================================
				Feature Section Forty Eight
			==============================================
			-->
<div class="fancy-feature-fortyEight position-relative">
  <div class="container">
    <div
      class="line-bg-wrapper position-relative pt-200 pb-200 lg-pt-120 lg-pb-110"
    >
      <div class="row align-items-center">
        <div class="col-lg-6 ms-auto order-lg-last wow fadeInRight">
          <div class="ps-xl-4">
            <div class="title-style-eleven">
              <div class="sc-title">ABOUT US</div>
              <h2 class="main-title tx-dark">
                Shaping <br />
                the Future of Real Estate in Nigeria
              </h2>
            </div>
            <div class="d-flex mt-70 mb-40 lg-mt-40 lg-mb-10">
              <img
                src="images/lazy.svg"
                data-src="images/shape/shape_164.svg"
                alt=""
                class="lazy-img d-none d-lg-block"
              />
              <p class="text-lg m0 ps-lg-5">
                Experience a New Era in Real Estate, Where Prexlyn Properties
                Redefines the Landscape of Possibilities
              </p>
            </div>
            <div class="row justify-content-between">
              <div class="col-lg-8 col-sm-6">
                <div class="counter-block-three mt-40 md-mt-30 wow fadeInUp">
                  <div class="main-count fw-500 tx-dark">
                    <span class="counter">48</span>+
                  </div>
                  <p class="tx-dark fs-18 m0">Properties Sold</p>
                </div>
                <!-- /.counter-block-three -->
              </div>
              <div class="col-lg-4 col-sm-6">
                <div
                  class="counter-block-three mt-40 md-mt-30 wow fadeInUp"
                  data-wow-delay="0.2s"
                >
                  <div class="main-count fw-500 tx-dark">
                    <span class="counter">7</span>
                  </div>
                  <p class="tx-dark fs-18 m0">States Covered</p>
                </div>
                <!-- /.counter-block-three -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 order-lg-first wow fadeInLeft">
          <div class="img-gallery md-mt-60 position-relative">
            <div class="row align-items-center">
              <div class="col-6">
                <img
                  src="images/lazy.svg"
                  data-src="images//img-prexlyn-pages/sold-house-1.png"
                  alt=""
                  class="lazy-img mt-40 mb-40 lg-mt-20 lg-mb-20"
                />
                <img
                  src="images/lazy.svg"
                  data-src="images/img-prexlyn-pages/moses-headshot.png"
                  alt=""
                  class="lazy-img ms-auto mt-40 mb-40 lg-mt-20 lg-mb-20"
                />
              </div>
              <div class="col-6">
                <img
                  src="images/lazy.svg"
                  data-src="images/img-prexlyn-pages/dynamic-city-flyer.png"
                  alt=""
                  class="lazy-img mt-40 mb-40 lg-mt-20 lg-mb-20"
                />
              </div>
            </div>
            <a
              class="fancybox video-icon rounded-circle tran3s d-flex align-items-center justify-content-center"
              data-fancybox=""
              href="https://youtu.be/vaY8JhciWX0"
            >
              <i class="fas fa-play"></i>
            </a>
            <img
              src="images/lazy.svg"
              data-src="images/shape/shape_165.svg"
              alt=""
              class="lazy-img shapes shape-one"
            />
            <img
              src="images/lazy.svg"
              data-src="images/shape/shape_163.svg"
              alt=""
              class="lazy-img shapes shape-two"
            />
            <div class="shapes shape-three"></div>
          </div>
          <!-- /.img-gallery -->
        </div>
      </div>
    </div>
    <!-- /.line-bg-wrapper -->
  </div>
  <!-- /.container -->
</div>
<!-- /.fancy-feature-fortyEight -->

<!--
			=============================================
				Feature Section Fifty
			==============================================
			-->
<div class="fancy-feature-fifty position-relative mt-200 lg-mt-100">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-6 wow fadeInLeft">
        <div class="title-style-five">
          <h2 class="main-title fw-500 tx-dark">Frequently Asked Questions</h2>
        </div>
        <!-- /.title-style-five -->
        <p class="text-lg mt-40 mb-45 lg-mt-20 lg-mb-30">
          Don’t find your answer here? just send us a message for help
        </p>
        <a
          href="https://api.whatsapp.com/send?phone=2348052380693"
          class="btn-one fw-500"
          >Send Your Message</a
        >
      </div>

      <div class="col-xl-7 col-lg-6 ms-auto wow fadeInRight">
        <div class="accordion accordion-style-seven md-mt-60" id="accordionOne">
          <div class="accordion-item">
            <div class="accordion-header" id="headingOne">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne"
              >
                How does Prexlyn Properties determine property valuations?
              </button>
            </div>
            <div
              id="collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionOne"
            >
              <div class="accordion-body">
                <p>
                  At Prexlyn Properties, we employ a combination of industry
                  knowledge, market analysis, and property assessment techniques
                  to determine accurate property valuations. Our team considers
                  factors such as location, property condition, comparable sales
                  data, and market trends to provide fair and realistic
                  valuations for our clients.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header" id="headingTwo">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                What areas does Prexlyn Properties serve?
              </button>
            </div>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse show"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionOne"
            >
              <div class="accordion-body">
                <p>
                  Prexlyn Properties primarily operates in Nigeria, catering to
                  the diverse real estate needs of clients within the city. Our
                  extensive network and local expertise allow us to offer
                  comprehensive services in various neighborhoods and areas
                  across Nigeria.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="true"
                aria-controls="collapseThree"
              >
                How can I get in touch with Prexlyn Properties?
              </button>
            </div>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionOne"
            >
              <div class="accordion-body">
                <p>
                  Getting in touch with Prexlyn Properties is easy! You can
                  reach us through our website's contact form, email,
                  <a
                    href="https://api.whatsapp.com/send?phone=2348052380693"
                    class="text-decoration-underline"
                    style="color: #ff733b"
                    >phone or whatsapp</a
                  >. Our friendly team is always ready to assist you, answer
                  your questions, and provide the necessary information to meet
                  your real estate needs.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header" id="headingFour">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                Is Prexlyn Properties a licensed real estate company?
              </button>
            </div>
            <div
              id="collapseFour"
              class="accordion-collapse collapse"
              aria-labelledby="headingFour"
              data-bs-parent="#accordionOne"
            >
              <div class="accordion-body">
                <p>
                  Yes, Prexlyn Properties is a fully licensed real estate
                  company operating in compliance with all applicable
                  regulations and requirements in Nigeria. We prioritize
                  professionalism, ethical practices, and client satisfaction,
                  ensuring a reliable and trustworthy real estate experience.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header" id="headingFive">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                What sets Prexlyn Properties apart from other real estate
                agencies?
              </button>
            </div>
            <div
              id="collapseFive"
              class="accordion-collapse collapse"
              aria-labelledby="headingFive"
              data-bs-parent="#accordionOne"
            >
              <div class="accordion-body">
                <p>
                  Prexlyn Properties stands out through our unwavering
                  commitment to delivering exceptional service, personalized
                  attention to clients' needs, extensive market knowledge, and a
                  strong network of industry professionals. We strive to exceed
                  expectations, provide innovative solutions, and create lasting
                  relationships built on trust and integrity.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
  <img
    src="images/lazy.svg"
    data-src="images/shape/shape_163.svg"
    alt=""
    class="lazy-img shapes shape-one"
  />
</div>
<!-- /.fancy-feature-fifty -->


<%- include('../partials/footer') %>
